<div class="footer">
  <div class="icons">
    <a class="bi bi-github" href="https://github.com/Sparkhand"></a>
    <a href="https://www.linkedin.com/in/davidetarpini/">
      <i class="bi bi-linkedin"></i>
    </a>
  </div>
  <p>davidetarpini[at]gmail[dot]com</p>
</div>