---
layout: base
alternate_link: "/"
alternate_lang: "en"
title: Home
---

<div class="main-container">
  <div class="spacer"></div>

  <h1>Hey ciao, sono
    <span class="t-acc1">Davide</span>
  </h1>

  <div class="spacer"></div>

  <div class="pres-container">
    <p>Sono uno studente di
      <span class="t-acc1 t-b">Informatica</span>
      di 21 anni presso l'
      <a href="https://www.unipr.it" class="t-b t-acc2">Università di Parma</a>, Italia.
    </p>
  </div>

  <div class="spacer">

    <div class="pres-container">
    <p>Quando non <span class="t-i">studio o scrivo codice,</span> mi tengo occupato esplorando il mio <span class="t-b t-acc1">lato creativo</span> attraverso alcuni hobby come
      <span class="t-b"><a href="https://www.instagram.com/davidetarpini_ph/" class="t-acc2">la fotografia</a>, il cinema, il gaming, suonare la batteria, e fare il tifo per i miei amati
        <a href="https://www.inter.it/" class="t-inter">nerazzurri.</a>
      </span>
    </p>
  </div>

  <div class="spacer"></div>

  <div class="pres-container">
    <p>Sono anche un membro (volontario) attivo del Digital Team di <span class="t-b"><span class="t-acc1">TEDx</span>Mantova</span>, 
    responsabile del <a href="https://www.tedxmantova.com" class="t-acc2 t-b">sito web.</a>
  </div>

  <div class="spacer"></div>

  <div class="pres-container">
    <p>Mi piace <span class="t-b t-acc1">lavorare in squadra</span> e sono sempre pronto a dare una mano quando serve.</p>
  </div>

  <div class="spacer"></div>
  <div class="spacer"></div>
  
  <h2>Dai un'occhiata ai miei <span class="t-acc1">progetti</span></h2>
  <div class="spacer"></div>

  <div class="projects-container">
    <a href="https://github.com/Sparkhand/gh-scraper" class="project-card">
      <div class="project-title-container">
        <i class="project-icon bi bi-journal-bookmark-fill"></i>
        <h3 class="project-title">gh-scraper</h3>
      </div>
      <p class="project-description">A Python command line tool to fetch and download files matching a specific programming language and extension from (almost) every GitHub repository</p>
      <div class="project-language-container">
        <i class="language-icon python bi bi-circle-fill"></i>
        <p class="project-language">Python</p>
      </div>
    </a>

    <a href="https://github.com/Sparkhand/sushiorderapp" class="project-card">
      <div class="project-title-container">
        <i class="project-icon bi bi-journal-bookmark-fill"></i>
        <h3 class="project-title">sushiorderapp</h3>
      </div>
      <p class="project-description">A handy tool to summarize orders for all you can eat restaurants. Given a list of IDs it returns each ID along with its quantity.</p>
      <div class="project-language-container">
        <i class="language-icon javascript bi bi-circle-fill"></i>
        <p class="project-language">JavaScript</p>
      </div>
    </a>

    <a href="https://github.com/Sparkhand/11ty-min-starter" class="project-card">
      <div class="project-title-container">
        <i class="project-icon bi bi-journal-bookmark-fill"></i>
        <h3 class="project-title">11ty-min-starter</h3>
      </div>
      <p class="project-description">A minimal Eleventy (11ty) SSG starter project featuring SASS support</p>
      <div class="project-language-container">
        <i class="language-icon liquid bi bi-circle-fill"></i>
        <p class="project-language">Liquid</p>
      </div>
    </a>
  </div>
  
  <div class="spacer"></div>
  <div class="spacer"></div>

  <div class="separator"></div>
  
  <div class="footer">
    <div class="icons">
        <a href="https://github.com/Sparkhand"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/davidetarpini/"><i class="bi bi-linkedin"></i></a>
    </div>
    <p>davidetarpini[at]gmail[dot]com</p>
  </div>
</div>