// COLORS //
$background: #E8EAE3;
$main: #373833;
$accent-1: #FA2742;
$accent-2: #005fb8;

// TYPOGRAPHY //
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');
$font-titles: 'Playfair Display', serif;
$font-paragraphs: 'Source Sans Pro', sans-serif;

// BREAKPOINTS //
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
/*
// Usage
@media (max-width: $screen-xs-max) { ... }
@media (min-width: $screen-sm-min) { ... }
@media (max-width: $screen-sm-max) { ... }
@media (min-width: $screen-md-min) { ... }
@media (max-width: $screen-md-max) { ... }
@media (min-width: $screen-lg-min) { ... }
*/

body {
    background-color: $background;
    font-family: $font-paragraphs;
}

.t-acc1 {
    color: $accent-1;
}

.t-acc2 {
    color: $accent-2;
}

.t-i {
    font-style: italic;
}

.t-b {
    font-weight: 600;
}

.inter {
    color: #0e1ea0;
    text-decoration: underline;
}

.separator {
    border: 1px solid $main;
    opacity: .3;
}

a {
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    font-family: $font-titles;
}

.spacer {
    margin: 1.5rem 0;
}


h1 {
    font-size: 2.7rem;
    line-height: 1.1;
    transform: translateX(2.3rem);

    @media (min-width: $screen-lg-min) {
        font-size: 3rem;
    }
}


.container {
    margin: 0 10%;

    @media (min-width: $screen-lg-min) {
        margin: 0 30%;
    }
}

.pres-container {
    display: flex;
}

.pres-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.pres-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    transform: translateX(-.5rem);
}

p {
    font-size: 1.3rem;

    
}

.p-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icons {
        font-size: 1.3rem;
        color: $main;
        opacity: .9;

        a:not(:last-child) {
            margin-right: .5rem;
        }
    }

    p {
        font-size: 1.1rem;
    }

    @media (min-width: $screen-lg-min) {
        .icons {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.3rem;}
    }
}