// COLORS //
$background: #001011;
$main: #f9f9f9;
$accent-1: #efca08;
$accent-2: #5198ea;
$inter-blue: $accent-2;
$gh-black: #0d1117;
$gh-text: #8b939d;
$gh-title: $accent-2;

// TYPOGRAPHY //
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto+Mono:wght@400;500;700&display=swap");
$font-titles: "Albert Sans", sans-serif;
$font-paragraphs: "Barlow", sans-serif;
$font-project: "Roboto Mono", monospace;

// BREAKPOINTS //
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
/*
// Usage
@media (max-width: $screen-xs-max) { ... }
@media (min-width: $screen-sm-min) { ... }
@media (max-width: $screen-sm-max) { ... }
@media (min-width: $screen-md-min) { ... }
@media (max-width: $screen-md-max) { ... }
@media (min-width: $screen-lg-min) { ... }
*/
