@import "./reset";
@import "./variables";

body {
  background-color: $background;

  opacity: 1;
  transition-duration: .7s;
  transition-property: opacity;

  &.fade {
    opacity: 0;
  }

  .t-acc1 {
    color: $accent-1;
  }

  .t-acc2 {
    color: $accent-2;
  }

  .t-inter {
    color: $inter-blue;
  }

  .t-b {
    font-weight: 600;
  }

  .t-i {
    font-style: italic;
  }

  .spacer {
    margin: 1.5rem 0;
  }

  .separator {
    border-bottom: 2px solid $main;
    opacity: 0.5;
    margin: 1.5rem 0;
  }

  a {
    text-decoration: underline;
  }
}

.main-container {
  color: $main;
  padding: 0 1.5rem;
  font-family: $font-paragraphs;

  .language-selector {
    max-width: fit-content;
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid $accent-1;
      border-radius: .3rem;
      appearance: none;
      color: $main;
      cursor: pointer;

      &:focus { 
        outline: none;
      }

      option {
        background-color: $background;
        color: $main;
      }
    }
  }

  h1 {
    font-family: $font-titles;
    font-size: 2.1rem;
    font-weight: bold;
  }

  .pres-container {
    .p-icon {
      display: block;
      font-size: 1rem;
      margin-bottom: 0.7rem;
    }

    p {
      font-size: 1.15rem;
    }
  }

  h2 {
    font-family: $font-titles;
    font-size: 2rem;
    font-weight: bold;
  }

  .project-card {
    display: block;
    border: 1.5px solid $accent-1;
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    font-family: $font-project;
    margin: 1rem 0;

    .project-icon {
      margin-right: 0.5rem;
    }

    .project-title-container {
      display: flex;
      align-items: baseline;

      .project-title {
        color: $gh-title;
        font-weight: bold;
        font-size: 1rem;
      }
    }

    .project-description {
      font-size: 0.8rem;
      margin: 0.6rem 0;
    }

    .project-language-container {
      display: flex;
      font-size: 0.8rem;

      .language-icon {
        margin-right: 0.5rem;
      }

      .python {
        color: #3572a5;
      }

      .javascript {
        color: #f1e05a;
      }

      .liquid {
        color: #61dafb;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icons {
      a {
        font-size: 1.3rem;
        text-decoration: none;

        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }

    p {
      font-size: 0.9rem;
    }
  }
}

@media (min-width: $screen-md-min) {
  .main-container {
    padding: 0 25rem;

    h1 {
      font-size: 3rem;
    }

    .pres-container {
      .p-icon {
        display: block;
        font-size: 1.7rem;
        margin-bottom: 0.7rem;
      }

      p {
        font-size: 1.5rem;
      }
    }

    h2 {
      font-size: 2.5rem;
    }

    .projects-container {
      display: flex;
      flex-wrap: wrap;
      margin: 1.5rem 0;

      .project-card {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 1rem 1rem 0;

        .project-description {
          justify-self: normal;
        }
      }
    }

    .footer {
      padding: 0;

      .icons {
        a {
          font-size: 1.7rem;

          &:not(:last-child) {
            margin-right: 0.7rem;
          }
        }
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}