---
layout: base
title: Home
lang: en
permalink: /
---

<div class="main-container">
  <div class="spacer"></div>

  <div class="language-selector">
    <select id="languageSelect">
      <option value="{{ page.permalink }}/" selected>English 🇬🇧</option>
      <option value="{{ page.permalink }}/it/">Italiano 🇮🇹</option>
    </select>
  </div>

  <div class="spacer"></div>

  <h1>Hi there, I'm
    <span class="t-acc1">Davide</span>
  </h1>

  <div class="spacer"></div>

  <div class="pres-container">
    <p>I'm a 21-year-old
      <span class="t-acc1 t-b">Computer Science</span>
      student at the
      <a href="https://www.unipr.it" class="t-b t-acc2">University of Parma</a>, Italy.
    </p>
  </div>

  <div class="spacer"></div>

  <div class="pres-container">
    <p>When I'm not
      <span class="t-b">studying or coding,</span>
      I'm busy exploring my
      <span class="t-b t-acc1">creative side</span>
      through hobbies like
      <span class="t-b">
        <a href="https://www.instagram.com/davidetarpini_ph/" class="t-acc2">photography</a>, cinema,
        gaming, playing the drums, and cheering for my beloved
        <a href="https://www.inter.it/" class="t-inter">nerazzurri.</a>
      </span>
    </p>
  </div>

  <div class="spacer"></div>

  <div class="pres-container">
    <p>
      I'm also an active volunteer member of
      <span class="t-b">
        <span class="t-acc1">TEDx</span>Mantova</span>
      Digital Team,
      in charge of
      <a href="https://www.tedxmantova.com" class="t-acc2 t-b">the website.</a>
    </div>

    <div class="spacer"></div>

    <div class="pres-container">
      <p>I'm a
        <span class="t-b t-acc1">team player</span>
        and always ready to lend a hand.
      </p>
    </div>

    <div class="spacer"></div>
    <div class="spacer"></div>

    <h2>Explore my
      <span class="t-acc1">projects</span>
    </h2>
    <div class="spacer"></div>

    <div class="projects-container">
      {% render "project_card.liquid", link: "https://github.com/Sparkhand/gh-scraper", title: "gh-scraper", description: "A Python command line tool to fetch and download files matching a specific programming language and extension from (almost) every GitHub repository", language: "Python", language_tag: "python" %}

      {% render "project_card.liquid", link: "https://github.com/Sparkhand/sushiorderapp", title: "sushiorderapp", description: "A handy tool to summarize orders for all you can eat restaurants. Given a list of IDs it returns each ID along with its quantity.", language: "JavaScript", language_tag: "javascript" %}

      {% render "project_card.liquid", link: "https://github.com/Sparkhand/11ty-min-starter", title: "11ty-min-starter", description: "A minimal Eleventy (11ty) SSG starter project featuring SASS support", language: "Liquid", language_tag: "liquid" %}
    </div>

    <div class="spacer"></div>
    <div class="spacer"></div>

    <div class="separator"></div>

    {% render "footer.liquid" %}
  </div>

  <div class="spacer"></div>
</div>